.cardLayout {
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
  position: relative;
  margin: 100px;
  border-radius: 16;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title{
    font-size: xx-large;
    font-weight: 800;
    font-style: oblique;
  }
}

.headerBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
}

.image{
  width: 60;
  height: 60;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-right: 16px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  height: 90px;
  text-align: center;
  width: 100%;
}

.card:hover {
  background-color: #FDF2E0;
}